# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
pandas>=1.1.4
seaborn>=0.11.0
scikit-learn==1.1.1
matplotlib>=3.2.2
numpy>=1.18.5
PyYAML>=5.3.1
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cpu
opencv-python
yolov5
uvicorn


# interface
streamlit
streamlit-modal

